<div class="header-bottom clear">
			<div class="container">
				<div class="row">

          <app-categorylist></app-categorylist>

					<div class="col-md-9 col-sm-9 hidden-xs">
						<div class="mainmenu">
							<ul id="navigation">
								<li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Home</a></li>
								<li><a routerLink="/about" routerLinkActive="active" >About US</a></li>
								<li><a routerLink="/contact" routerLinkActive="active">Contact US</a></li>
								<li><a routerLink="/terms" routerLinkActive="active" >Terms & COndition</a></li>
							</ul>


						</div>
					</div>
					<div class="hidden-sm clear col-xs-6 hidden-md hidden-lg">
						<div class="responsive-menu-wrap floatright"></div>
					</div>
				</div>
			</div>
		</div>
