<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="logo pull-left">
						<a routerLink="/home" >
							<img src="assets/img/logo.png" alt="" />
						</a>
					</div>
					<div class="search-form pull-left">
						<div class="login-wrap text-right">
							<ul>
                <li><a routerLink="/checkout">Checkout</a></li>
                <li><a routerLink="/cart"> Cart <i class="fa fa-shopping-cart"></i><span class="badge cart-badge">3</span></a></li>

							</ul>
						</div>
						<form onsubmit="return false">
							<input type="text" placeholder="Search here..."/>
							<a class="search-btn"  routerLink="/search"><i class="fa fa-search"></i></a>
						</form>
					</div>
					<app-auth-form class="logo2 pull-left"></app-auth-form>
				</div>
			</div>
		</div>
	</div>
