<div class="header-top">
  <div class="container">
    <div class="row">

      <div class="col-md-2 ">
        <a class="pull-right" routerLink="/home">
          <img src="assets/img/logo.png" alt=""/>
        </a>
      </div>
      <div class="search-form  col-md-8 ">
        <div class="login-wrap text-right">
          <ul>
            <li *ngIf="(counters | async)>0"><a routerLink="/checkout">Checkout</a></li>
            <li>
              <a routerLink="/cart"> Cart <i class="fa fa-shopping-cart" *ngIf="(counters | async)==0"></i>
                <span *ngIf="(counters | async)>0" class="badge cart-badge">{{counters | async}}</span></a>
            </li>

          </ul>
        </div>
        <form onsubmit="return false">
          <input type="text" placeholder="Search here..."
                 (keyup)="router.navigate(['search',{term:$event.target.value}])"/>
          <a class="search-btn" routerLink="/search"><i class="fa fa-search"></i></a>
        </form>
      </div>
      <div class="col-md-1">


        <app-auth-form></app-auth-form>
      </div>


    </div>
  </div>
</div>
