<div class="about-area mb-30">
              <div class="show-all-cetagory">


                    <ul>

                      <li><a routerLink="product"><img src="assets/img/icon/cetagory/1.png" alt="" /> Adhesive</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/2.png" alt="" />  Bricks & Blocks</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/3.png" alt="" />  Cement</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/4.png" alt="" />  Cleaning</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/5.png" alt="" />  Electrical</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/6.png" alt="" />  Electronics</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/7.png" alt="" />  Elevators</a></li>
                                     <li><a routerLink="product"><img src="assets/img/icon/cetagory/8.png" alt="" />  Equipments & Machineries</a></li>


                                     </ul>





                </div>
              </div>




