<div class=" ">
						<a href="javascript:void(0);"><img src="assets/img/logo2.png" alt="" /></a>
						<div class="login-area">
							<div class="login-wrapper text-left">
								<form action="#">
									<p class="text-center">Loner Ipsum</p>
									<input type="email" placeholder="Enter Your Email"/>
									<input type="password" placeholder="Password"/>
									<input type="checkbox" />
									<span>Remember Me</span>
									<button>Login</button>
								</form>
							</div>
							<div class="registar-wrap text-center">
								<strong>Lorem ipsum</strong>
								<button>Register</button>
							</div>
						</div>
					</div>
