@media only screen and (max-width: 500px) {
  .search-form form {
      margin-bottom: 10px;
  }
  .login-wrap {
      margin-bottom: 10px;
  }
  .login-wrap ul li {
      display: inline-block;
      padding-left: 10px;
      margin-left: 10px;
      position: relative;
  }

}
@media screen and (min-width: 690px) {
    .catagory {
            background: #fff none repeat scroll 0 0;
            left: -60px;
            padding: 5px 0;
            position: absolute;
            text-align: left;
            top: 100%;
            width: 230px;
            z-index: 99;
            transition: all 0.3s;
            
        }
}
@media screen and (min-width: 550px) and (max-width: 1200px) {
  .hero-wrap.bg-fff {
             width: 95%;
             margin-left: 40px;
         }
  .product-wrap.bg-fff {
      margin-left: 40px;
      width: 95%;
  }
  .ban-area{
    margin-left: 40px;
         width: 95%;
  }
    .about-wrap{
        margin-left:40px;
    }
    .catagory {
                 margin-left: -20px;
            }
    .mainmenu ul li {
        display: inline-block;
        margin-right: 45px;
    }
    
}

