/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.header-top .container {
  width: 1420px;
}
.header-area {
  background: #f8f8f8 none repeat scroll 0 0;
  position: fixed;
  z-index: 99999999999;
  width:100%;
  left:0;
  top:0;
}
.hero-area,.mt-170,.cart-area,.about-area,.contact-area{margin-top:170px;}
.logo2 {
  position: relative;
  text-align: right;
  width: 8%;
}
.logo2 a{
	padding:4px 0px;
}
.search-form {
  float: right;
  margin-top: 10px;
  width: 60%;
}
.logo {
  padding-right: 20px;
  text-align: right;
  width: 20%;
}

.col-md-offset-3.col-md-9.col-xs-12 {
  left: -150px;
  position: relative;
}
.col-md-7.col-sm-9.hidden-xs {
  left: -170px;
  position: relative;
}
.left-side.col-md-3.hidden-sm.hidden-xs {
  left: -150px;
  position: relative;
}
.show-all-cetagory ul li {
  width: 16.66%;
}
.show-all-cetagory {
  padding:100px 300px;
}
.show-all-cetagory span {
  right: 280px;
  top: 80px;
}
.header-area .col-md-9.col-sm-9.hidden-xs {
  left: -92px;
  position: relative;
}
.catagory.catagory2 {
    left: 0;
}
.login-area {
  left: 0;
  right: auto;
}
.center_div {
  left: 142px;
  width: 75%;
}
.right_sidebar {
  left: 200px;
}
.right_sidebar {
  left: 155px;
}
.header-area.header-area2 .col-md-3.hidden-sm.hidden-xs {
  left: -150px;
  position: relative;
}
.overlay-bg {
    width: 87.8%;
}
.header-area2 .search-form {
    width: 60%;
}
.contact-wrap ul.contact li > ul {
	left: 80%;
}
.contact-wrap ul.contact li > ul.middle {
	left: -88%;
}
.contact-wrap ul.contact li > ul.right{
	left:-120%;
}
.cetagory-items ul li ul.quick-order {
	left: 870px;
	top: -111px;
}
.cetagory-items ul li:nth-child(2) ul.quick-order {
  left: 700px;
}
.cetagory-items ul li:nth-child(3) ul.quick-order {
  left: 535px;
}
.cetagory-items ul li:nth-child(4) ul.quick-order {
  left: 365px;
}
.cetagory-items ul li:last-child ul.quick-order {
  left: 195px;
}
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
.logo {
	padding-right: 30px;
	text-align: right;
	width: 26%;
}
.search-form {
  width: 62%;
}
.header-area {
  background: #f8f8f8 none repeat scroll 0 0;
  position: fixed;
  z-index: 99999999999;
  width:100%;
  left:0;
  top:0;
}
.hero-area,.mt-170,.cart-area,.about-area,.contact-area{margin-top:160px;}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.catagory {
  left: -20px;
  width: 250px;
}
.catagory ul li a {
  font-size: 13px;
}
.arivel-area .product-img {
  padding: 20px 15px 0 20px;
  width: 100px;
}
.arivel-area .product-content {
  margin-left: 95px;
}
.product-content h3 a {
  font-size: 14px;
}
.footer-cetagory ul li p {
  font-size: 12px;
}
.footer-title {
  font-size: 15px;
}
.contact p {
  font-size: 13px;
}
.product-items {
  min-height: 365px;
}
.cetagory-details {
  width: 700px;
}
.cetagory-details.cetagory-details2 {
  left: -100px;
}
.cetagory-details.cetagory-details3 {
  left: -200px;
}
.cetagory-details.cetagory-details4{
	  left: -300px;
}
.cetagory-details.cetagory-details5{
	  left: -400px;
}
.cetagory-details.cetagory-details6{
	  left: -500px;
}
.cetagory-details.cetagory-details7{
	  left: -600px;
}
.cetagory-details1 ul.contact-wrapper {
  margin: 0 115px;
}
.col-4 {
  min-height: 315px;
  width: 33.33%;
}
.catagory.catagory2 {
  left: -25px;
  width: 250px;
}
.right_sidebar {
  left: 0;
  width: 185px;
}
.product-img2 {
  float: none;
  height: 55px;
  margin-right: 0px;
}
.product-item {
  margin-bottom: 15px;
}
.mainmenu ul li {
  margin-right: 40px;
}
.header-area2 .search-form {
  width: 61%;
}
.header-area2 .logo {
  width: 25%;
}
.header-area2 .search-form {
  width: 56%;
}
.product-menu h3 {
  font-size: 18px;
  margin: 6px 10px 6px 0;
}
.product-menu select {
  width: 105px;
}
.pagination-wrap.pagination-wrap2 {
  left: 68px;
}
.pagination-wrap ul li {
  margin: 0 9px;
}
.product-list .product-content a.cart {
  width: 45%;
}
.show-all-cetagory ul li {
  width: 20%;
}
.show-all-cetagory a {
  font-size: 13px;
}
.product-details-content button {
  height: 35px;
  top: 31px;
}
.cart-btn a {
  font-size: 11px;
}
.product-details-menu ul li a {
  padding: 15px 40px;
}
.cart-sidebar h3 {
  font-size: 15px;
}
.cart-sidebar h3 span {
  height: 25px;
  line-height: 25px;
  width: 25px;
}
.cart-sidebar ul.total li {
  font-size: 14px;
}
.cart-sidebar ul.cart li a {
  padding: 7px 9px;
  margin-bottom: 10px;
}
ul.contact li > ul.middle {
    width: 600px !important;
}
.logo2 a {
  padding: 8px 0;
}
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.mainmenu ul li {
  margin-right: 45px;
}
.logo2 a{
  padding: 19px 0;
}
.product-items {
  min-height: 375px;
}
.footer-cetagory ul li p {
  font-size: 12px;
}
.cetagory-details {
  width: 720px;
}
.cetagory-details p {
  font-size: 14px !important;
  margin-bottom: 30px !important;
}
.cetagory-details.cetagory-details2 {
  left: -105px;
}
.cetagory-details.cetagory-details3 {
  left: -205px;
}
.cetagory-details.cetagory-details4{
	  left: -310px;
}
.cetagory-details.cetagory-details5{
	  left: -410px;
}
.cetagory-details.cetagory-details6{
	  left: -510px;
}
.cetagory-details.cetagory-details7{
	  left: -620px;
}
.footer-title {
  font-size: 15px;
}
.catagory {
  left: 0;
  top: 100%;
  opacity:0;
  visibility:hidden;
  transform:scaleY(0);
  transform-origin:top;
  transition:all .5s;
}
.catagory.active{
	opacity:1;
	visibility:visible;
	transform:scaleY(1);
}
.cetagory-details1 ul.contact-wrapper {
  margin: 0 120px;
}
.col-4 {
  min-height: 320px;
  width: 33.33%;
}
.center_div {
  left: 0;
}
.right_sidebar {
  left: 0;
  margin-bottom: 30px;
}
.logo {
  width: 20%;
}
.search-form {
  width: 68%;
}
.header-area2 .search-form {
  width: 67%;
}
.product-menu h3 {
  font-size: 22px;
  margin: 6px 105px 6px 0;
}
.product-list .product-content a.cart {
  width: 30%;
}
.show-all-cetagory ul li {
  height: 110px;
  padding: 22px 0;
}
ul.contact li > ul.middle {
    width: 600px !important;
}

}




/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:100%}
.logo {
  width: 20%;
  padding: 15px 0;
}
.logo2 {
  width: 18%;
}
.logo2 a{
	padding: 18px 0;
}
.search-form {
  margin-bottom: 10px;
  width: 60%;
}
.search-form input {
  height: 30px;
  padding-left: 10px;
}
.login-wrap {
  margin-bottom: 5px;
}
.login-wrap ul li a i {
  display: none;
}
.login-wrap ul li {
  margin-left: 5px;
  padding-left: 5px;
}
.login-wrap ul li a {
  font-size: 11px;
}
.catagory {
  width: 275px;
}
.cetagory-menu ul li a {
  padding: 5px 15px;
}
.cetagory-items ul li {
  margin: 0 4px 30px;
  width: 29.60%;
}
.product-items {
  min-height: 380px;
}
.banner-items {
  margin-bottom: 10px;
}
.footer-cetagory ul li {
  width: 50%;
}
.cetagory-details {
  width: 270px;
  padding:30px 10px;
}
.cetagory-details.cetagory-details2,.cetagory-details.cetagory-details4,.cetagory-details.cetagory-details6 {
  left: -135px;
}
.cetagory-details.cetagory-details3,.cetagory-details.cetagory-details5,.cetagory-details.cetagory-details7 {
  left: 5px;
}
.cetagory-details p {
  margin-bottom: 10px !important;
}
.header-bottom.sticky {
  position: static;
}
.cetagory-items ul li p {
  font-size: 12px;
}
.cetagory-items ul li img {
  height: 85px;
}
.footer-bottom-menu ul li {
  margin-left: 20px;
}
.catagory {
  left: 0;
  top: 100%;
  opacity:0;
  visibility:hidden;
  transform:scaleY(0);
  transform-origin:top;
  transition:all .5s;
}
.catagory.active{
	opacity:1;
	visibility:visible;
	transform:scaleY(1);
}
.cetagory-details1 ul.contact-wrapper {
  margin: 0;
}
.cetagory-details1 ul.contact-wrapper li {
  margin: 0 12px;
}
.cetagory-details input,.cetagory-details button {
  width: 240px;
}
.login-area {
  padding: 30px 10px 20px;
  width: 275px;
}
.col-4 {
  min-height: 320px;
  width: 100%;
  margin-bottom:10px;
  padding-top:10px;
}
.pagination-wrap ul li {
  margin: 0 0px;
}
.pagination-wrap ul li a{font-size:13px;}
.pagination-wrap ul li a i.fa-chevron-left {
  margin-right: 0px;
}
.pagination-wrap ul li a i.fa-chevron-right {
  margin-left: 0px;
}
.pagination-wrap {
  padding: 20px 5px;
}
.center_div {
  left: 0;
  margin-bottom: 30px;
}
.right_sidebar {
  left: 0;
  margin-bottom: 30px;
}
.header-area2 .search-form {
  width: 60%;
}
.product-menu h3 {
  font-size: 18px;
  margin: 0 0 20px;
  text-align: center;
}
.product-list .product-img {
  float: none;
  text-align:left;
}
.product-list .product-content {
  margin-left: 0;
}
.product-list .product-content a.cart {
  width: 70%;
}
.product-content-right-sidebar {
  margin-bottom: 20px;
}
.product-details-items {
  width: 100%;
  margin-bottom:50px;
}
.product-details-content {
  width: 100%;
}
.product-wrapper h2 {
  font-size: 22px;
}
.product-details-content button {
  height: 35px;
  top: 31px;
}
.cart-btn a {
  font-size: 11px;
  padding: 7px 12px;
}
.product-details-menu ul li a {
  font-size: 16px;
  padding: 15px 8px;
}
.product-details-feature ul li span.left {
  width: 86%;
}
.product-details-feature ul li {
  font-size: 12px;
}
.openning {
  width: 240px;
}
.contact-wrap ul.contact li a i {
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.contact-wrap ul.contact li a {
  font-size: 15px;
}
.contact-wrap ul.contact li > ul {
  padding: 30px 20px;
  width: 260px;
}
.contact-wrap ul.contact li > ul.contact-form {
  left: -90px;
}
.checkout-form button {
  margin-bottom: 30px;
  margin-top: 10px;
}
.contact-wrap ul.contact li > ul.middle {
    width: 260px;
}
.cart-wrapper tr td h3 a {
  font-size: 15px;
}
.cart-wrapper tr th {
  font-size: 14px;
}
.footer-cetagory ul > li:hover .cetagory-details {
  top: -340%;
}
.cetagory-items ul li:nth-child(2) ul.quick-order {
	left:-90px;
}
.cetagory-items ul li:nth-child(3) ul.quick-order {
	left:-190px;
}
.cetagory-items ul li:last-child ul.quick-order {
	left:-95px;
}
}





/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:100%}
.responsive-menu-wrap .slicknav_nav {
  width: 375px;
}
.cetagory-items ul li {
  width: 31.2%;
}
.cetagory-items ul li img {
  height: 100px;
}
.product-items {
  min-height: 335px;
}
.cetagory-details {
  padding: 30px;
  top: -365px;
  width: 420px;
}
.cetagory-details.cetagory-details2, .cetagory-details.cetagory-details4, .cetagory-details.cetagory-details6 {
  left: -210px;
}
.cetagory-details1 ul.contact-wrapper {
  margin: 0 55px;
}
.cetagory-details.cetagory-details3, .cetagory-details.cetagory-details4, .cetagory-details.cetagory-details6 {
  top: -420px;
}
.cetagory-details.text-center.cetagory-details1 {
  top: -390px;
}
.search-form {
  width: 60%;
}
.logo2 {
  display: block;
  padding: 15px 0;
  width: 20%;
}
.col-4 {
  min-height: 285px;
  width: 50%;
}
.product-list .product-img {
  float: left;
  text-align:left;
}
.product-list .product-content {
  margin-left: 160px;
}
.product-menu h3 {
  font-size: 22px;
}
.product-details-content button {
  height: 100%;
  top: 0;
}
.product-details-menu ul li a {
  padding: 15px 32px;
}
.product-details-feature ul li {
  font-size: 15px;
}
.product-details-feature ul li span.left {
  width: 60%;
}
.contact-wrap ul.contact li > ul {
  padding: 30px 20px;
  width: 350px;
}
}



