<!-- product-area start -->
		<div class="product-area mt-170">
			<div class="container">
				<div class="row">
					<div class="col-md-7 center_div col-xs-12">
						<div class="product-wrapper clear">
							<div class="product-menu clear">
								<h3 class="pull-left">Search Result For <i>“Welding Machine”</i></h3>
								<ul class="pull-left">
									<li class="active"><a href="#grid" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
									<li><a href="#list" data-toggle="tab"><i class="fa fa-list-ul"></i></a></li>
								</ul>
								<select class="pull-right">
									<option value="Relevance">Relevance</option>
									<option value="web Design">Web Design</option>
									<option value="ux/ui">UX/UI</option>
									<option value="frontend">FrontEnd</option>
									<option value="backend">Backend</option>
									<option value="Relevance">Relevance</option>
								</select>
							</div>
							<div class="tab-content">
								<div class="tab-pane active" id="grid">
									<div class="product-grid">
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="list">
									<div class="product-list">
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4">
											<div class="product-img">
												<img src="assets/img/product/3.png" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/3.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/2.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
										<div class="product-items mb-50 col-4 clear">
											<div class="product-img">
												<img src="assets/img/product/1.jpg" alt="" />
											</div>
											<div class="product-content">
												<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>
												<span>$90.00 </span>
												<div class="rating">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<a routerLink="/cart" class="cart">Add to cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 right_sidebar col-xs-12">
						<h4 class="right_sidebar_title">Similar Products</h4>
						<div class="product-item">
							<div class="product-img2">
								<img src="assets/img/product/arivel/1.png" alt="">
							</div>
							<div class="product-content-right-sidebar">
								<h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
								<span>$90.00 </span>
								<div class="rating">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-img2">
								<img src="assets/img/product/arivel/1.png" alt="">
							</div>
							<div class="product-content-right-sidebar">
								<h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
								<span>$90.00 </span>
								<div class="rating">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-img2">
								<img src="assets/img/product/arivel/1.png" alt="">
							</div>
							<div class="product-content-right-sidebar">
								<h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
								<span>$90.00 </span>
								<div class="rating">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-img2">
								<img src="assets/img/product/arivel/1.png" alt="">
							</div>
							<div class="product-content-right-sidebar">
								<h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
								<span>$90.00 </span>
								<div class="rating">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-xs-12">
						<div class="pagination-wrap text-center pagination-wrap2">
							<ul>
								<li class="pull-left"><a href="#"><i class="fa fa-chevron-left"></i> prev</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li>-</li>
								<li><a href="#">435</a></li>
								<li class="pull-right"><a href="#"> Next <i class="fa fa-chevron-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- product-area end -->
