<!-- product-area start -->
		<div class="product-area mt-170">
			<div class="container">
				<div class="row">
					<div class="col-md-7 center_div col-xs-12">
						<div class="product-wrapper clear">
							<div class="product-menu clear">
								<h3 class="pull-left">Search Result For <i>“{{searchTerm}}”</i></h3>
								<ul class="pull-left">

									<li ><a href="javascript:void(0)"  (click)="grid = true"><i class="fa fa-th-large"></i></a></li>
									<li ><a href="javascript:void(0)"  (click)="grid = false" ><i class="fa fa-list-ul"></i></a></li>
								</ul>
								<select class="pull-right">
									<option value="Relevance">Relevance</option>
									<option value="web Design">Web Design</option>
									<option value="ux/ui">UX/UI</option>
									<option value="frontend">FrontEnd</option>
									<option value="backend">Backend</option>
									<option value="Relevance">Relevance</option>
								</select>
							</div>

								<div class="" id="grid">
									<div class="row">
										<div [ngClass]="grid ?'col-md-4':'col-md-12 product-list'"  *ngFor="let product of products">
									    <app-product [product]="product"></app-product>
										</div>

									</div>
								</div>

						</div>
					</div>
					<div class="col-md-3 right_sidebar col-xs-12">
						<h4 class="right_sidebar_title">Similar Products</h4>
						<div class="product-item">
							<div class="product-img2">
								<img src="assets/img/product/arivel/1.png" alt="">
							</div>
							<div class="product-content-right-sidebar">
								<h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
								<span>$90.00 </span>
								<div class="rating">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>

               <app-pagination></app-pagination>
			</div>
		</div>
		<!-- product-area end -->
