<!-- product-area start -->
<div class="product-area mt-170">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-7 col-xs-12">
        <div class="product-wrapper clear">
          <!--<div class="breadcumb-menu">-->
          <!--<ul>-->
          <!--<li><a href="index.html">Home </a></li>-->
          <!--<li> > </li>-->
          <!--<li><a href="index.html">Adhesive </a></li>-->
          <!--<li> > </li>-->
          <!--<li><a href="index.html">Link</a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <h2>{{categoryName}}</h2>
          <!--<ng-container *ngFor="let product of products">-->
          <!--<ng-container *ngFor="let p of product.product_list">-->
          <!--<app-product [product]="p" class="col-4" ></app-product>-->


          <!--</ng-container>-->
          <!--<p  *ngIf="(product).length == 0">-->

          <!--No data found-->

          <!--</p>-->
          <!--</ng-container>-->

          <ng-container *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p}">

            <app-product [product]="product" class="col-4"></app-product>

          </ng-container>
          <h1 *ngIf=" products.length < 1">

            <h5 class="text-center">No product found for this category</h5>

          </h1>
          <div class="row" [hidden]="products.length <5" >
            <div class="col-md-offset-2 col-md-8 col-xs-12">
              <div class="pagination-wrap text-center pagination-wrap2">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-md-3 right_sidebar col-xs-12">
        <h4 class="right_sidebar_title">Similar Products</h4>
        <div class="product-item">
          <div class="product-img2">
            <img src="assets/img/product/arivel/1.png" alt="">
          </div>
          <div class="product-content-right-sidebar">
            <h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
            <span>$90.00 </span>
            <div class="rating">
              <ul>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
</div>
<!-- product-area end -->
