<div class="product-items mb-50">
	<div  class="product-img mouse-pointer" routerLink="/productdetails/{{product.id}}">
		<img src="{{product.image_list[0]}}" onError="this.src='assets/img/product/1.jpg'" alt=""/>
	</div>
	<div class="product-content">
		<h3><a routerLink="/productdetails/{{product.id}}">{{product.name | nameCutter}}</a></h3>
		<span>$ {{product.price}} </span>
		<div class="rating">

			<rating [(ngModel)]="product.rating" [max]="5" [readonly]="false"
			        style="color: #f7882f !important;"></rating>

		</div>
		<a href="javascript:void(0);" (click)="addToCart(product)" class="cart">Add to cart</a>
	</div>
</div>


