<div class="col-md-3 hidden-sm hidden-xs left-side">
  <div class="catagory-wrap">
    <a class="category-click" href="javascript:void(0);"><i class="fa fa-bars "></i> Categories</a>
    <div class="catagory">

      <ul (mouseenter) ="ff=true"  (mouseleave) ="ff=false">
        <li *ngFor="let category of categoryList ">
          <a [routerLink]="['/products']" [queryParams]="{name:category.name, cat:category.id}">
            <img src="{{category.image_list[0]}}" alt="" class="first"/>

            {{category.name}}
          </a>
          <ul>
            <li>
              <a >Safety Gloves</a>
              <a >CC CAM </a>
              <a >Fire Alarm</a>
              <a >Industrial</a>
              <a >Safety Kit</a>
              <a >Anti-Static </a>
              <a >Respiratory</a>
              <a >Fire Extinguishers</a>
              <a >Fall Protection</a>
            </li>
            <li>
              <a >Aearo1</a>
              <a >AOSafety</a>
              <a >Moldex</a>
              <a >Kimberly Clark</a>
              <a >Honeywell</a>
              <a >DuPont</a>
              <a >Radians</a>
              <a >Moldex-Metric</a>
              <a >Cordova</a>
            </li>
            <li class="cat-img">
            </li>


          </ul>

        </li>

      </ul>
      <div class="click text-center">
        <a routerLink="/categories">Show All Categories</a>
      </div>
    </div>
  </div>
</div>
<div id="overlay" class="overlay" *ngIf="ff" [@fadeDownAnimation]></div>

