<div class="col-md-3 hidden-sm hidden-xs left-side">
  <div class="catagory-wrap">
    <a class="category-click" href="javascript:void(0);"><i class="fa fa-bars "></i> Categories</a>
    <div class="catagory">

      <ul (mouseenter) ="ff=true"  (mouseleave) ="ff=false">
        <li *ngFor="let category of categoryList ">
          <a [routerLink]="['/products']" [queryParams]="{name:category.name, cat:category.id}">
            <img src="{{category.image_list[0]}}" alt="" class="first"/>

            {{category.name}}
          </a>
          <ul>
            <li>
              <a >Sub Ceta 1</a>
              <a >Sub Ceta 2</a>
              <a >Sub Ceta 3</a>
              <a >Sub Ceta 4</a>
              <a >Sub Ceta 5</a>
              <a >Sub Ceta 6</a>
              <a >Sub Ceta 7</a>
              <a >Sub Ceta 8</a>
              <a >Sub Ceta 9</a>
            </li>
            <li>
              <a >Sub Ceta 1</a>
              <a >Sub Ceta 2</a>
              <a >Sub Ceta 3</a>
              <a >Sub Ceta 4</a>
              <a >Sub Ceta 5</a>
              <a >Sub Ceta 6</a>
              <a >Sub Ceta 7</a>
              <a >Sub Ceta 8</a>
              <a >Sub Ceta 9</a>
            </li>
            <li class="cat-img">
            </li>


          </ul>

        </li>

      </ul>
      <div class="click text-center">
        <a routerLink="/categories">Show All Categories</a>
      </div>
    </div>
  </div>
</div>
<div id="overlay" class="overlay" *ngIf="ff" [@fadeDownAnimation]></div>

