<!-- product-area start -->
		<div class="cart-area">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-7 col-xs-12">
						<div class="checkout-wrapper p-20 bg-fff mb-50 cart-wrapper">
							<h3>Checkout</h3>
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="checkout-form">
										<h4><span>1</span>BIlling Info</h4>
										<form action="#">
											<span>Full Name</span>
											<input type="text" placeholder="Johnathon Smith"/>
											<span>Address</span>
											<input type="text" placeholder="701, Block - B, ABCD Tower, Dhaka"/>
											<span>phone</span>
											<input type="text" placeholder="+880 123456789"/>
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>City</span>
													<select name="" id="">
														<option value="Dhaka">Dhaka</option>
														<option value="Khulna">Khulna</option>
														<option value="jessor">Jesor</option>
														<option value="jessor">Dhaka</option>
														<option value="Dhaka">Dhaka</option>
													</select>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>State</span>
													<select name="" id="">
														<option value="Dhaka">Dhaka</option>
														<option value="Khulna">Khulna</option>
														<option value="jessor">Jesor</option>
														<option value="jessor">Dhaka</option>
														<option value="Dhaka">Dhaka</option>
													</select>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>Country</span>
													<select name="" id="">
														<option value="bangladesh">Bangladesh</option>
														<option value="india">India</option>
														<option value="Pakistan">Pakistan</option>
														<option value="">Dhaka</option>
														<option value="Dhaka">Dhaka</option>
													</select>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>Zip Code</span>
													<input type="text" placeholder="1208"/>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-sm-6  col-xs-12">
									<div class="checkout-form">
										<h4><span>2</span>Shipping Info</h4>
										<form action="#">
											<span>Full Name</span>
											<input type="text" placeholder="Johnathon Smith"/>
											<span>Address</span>
											<input type="text" placeholder="701, Block - B, ABCD Tower, Dhaka"/>
											<span>phone</span>
											<input type="text" placeholder="+880 123456789"/>
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>City</span>
													<select name="" id="">
														<option value="Dhaka">Dhaka</option>
														<option value="Khulna">Khulna</option>
														<option value="jessor">Jesor</option>
														<option value="jessor">Dhaka</option>
														<option value="Dhaka">Dhaka</option>
													</select>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>State</span>
													<select name="" id="">
														<option value="Dhaka">Dhaka</option>
														<option value="Khulna">Khulna</option>
														<option value="jessor">Jesor</option>
														<option value="jessor">Dhaka</option>
														<option value="Dhaka">Dhaka</option>
													</select>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>Country</span>
													<select name="" id="">
														<option value="bangladesh">Bangladesh</option>
														<option value="india">India</option>
														<option value="Pakistan">Pakistan</option>
														<option value="">Dhaka</option>
														<option value="Dhaka">Dhaka</option>
													</select>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<span>Zip Code</span>
													<input type="text" placeholder="1208"/>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="checkout-form">
										<h4><span>2</span>Shipping Info</h4>
										<form action="#">
											<div class="row">
												<div class="col-sm-6">
													<p><img src="assets/img/icon/cash.png" alt="" /> Cash on delivery <input type="radio" name="a" checked=""/></p>
													<p><img src="assets/img/icon/img.png" alt="" /> Credit card <input type="radio"  name="a"/></p>
													<button>Order NOW</button>
												</div>
												<div class="col-sm-6">
													<span>Card Holder Name</span>
													<input type="text" placeholder="Jhon Doe"/>
													<span>Card Number</span>
													<input type="text" placeholder="431-4321-4321"/>
													<div class="row">
														<div class="col-md-6 col-sm-6 col-xs-12">
															<span>CVC</span>
															<input type="text" placeholder="1234"/>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<span>Expire Date</span>
															<input type="date" placeholder="12/08"/>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 right_sidebar col-xs-12">
						<div class="cart-sidebar">
							<h3>ITEMS IN YOUR CART <span>3</span></h3>
							<ul class="total">
								<li>Subtotal <span>96.00 USD</span></li>
								<li>Delivery <span>4.00 USD</span></li>
								<li>Discount <span>-5.00 USD</span></li>
								<li>Grand Total <span>95.00 USD</span></li>
							</ul>
							<ul class="cart fix">
								<li class="pull-right"><a href="#">Continue Shopping</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- product-area end -->
