<div class="row">
  <div class=" col-md-10 col-xs-12">
    <div class="checkout-wrapper p-20 bg-fff mb-50 cart-wrapper">
      <h3>Checkout</h3>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
          <div class="checkout-form">
            <h4><span>1</span>BIlling Info</h4>
            <form #checkoutFirstForm="ngForm" ngNativeValidate >
              <span>Full Name</span>
              <input type="text" name="full_name" ngModel placeholder="insert your full name" required/>
              <span>Address</span>
              <input type="text" name="address" ngModel required placeholder="insert full address"/>
              <span>phone</span>
              <input type="text" name="phone" ngModel required placeholder="+880 123456789"/>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span>City</span>
                  <select name="city" ngModel required>
                    <option value="Ad Dakhiliyah">Ad Dakhiliyah</option>
                    <option value="Ad Dhahirah">Ad Dhahirah</option>
                    <option value="Al Batinah North">Al Batinah North</option>
                    <option value="Al Batinah South">Al Batinah South</option>
                    <option value="Al Wusta">Al Wusta</option>
                    <option value="Ash Sharqiyah North">Ash Sharqiyah North</option>
                    <option value="Ash Sharqiyah South">Ash Sharqiyah South</option>
                    <option value="Dhofar">Dhofar</option>
                    <option value="Masqat">Masqat</option>
                    <option value="Musandam">Musandam</option>

                  </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span>State</span>
                  <select name="state" ngModel required>
                    <option value="Nizwa">Nizwa</option>
                    <option value="Samail">Samail</option>
                    <option value="Bahla">Bahla</option>
                    <option value="Al Hamra">Al Hamra</option>
                    <option value="Manah">Manah</option>
                    <option value="Adam">Adam</option>
                    <option value="Izki">Izki</option>
                    <option value="Adam">Adam</option>
                    <option value="Bid Bid">Bid Bid</option>

                  </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span>Country</span>
                  <select name="country" ngModel required>

                    <option value="oman">Oman</option>
                    <option value="bangladesh">Bangladesh</option>
                    <option value="india">India</option>
                    <option value="pakistan">Pakistan</option>

                  </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span>Post Code</span>
                  <input type="number" name="post_code" ngModel required placeholder="1208"/>
                </div>
              </div>
              <div class="alert alert-warning" *ngIf="!checkoutFirstForm.valid">Please Fill the form properly to go next
                step
              </div>
            </form>
          </div>
        </div>

        <div class="col-xs-12" *ngIf="checkoutFirstForm.valid">
          <div class="checkout-form">
            <h4><span>2</span>Shipping Info</h4>
            <form #checkoutFinalForm="ngForm" ngNativeValidate
                  (submit)="checkoutFinalFormSubmit(checkoutFirstForm,checkoutFinalForm)">
              <div class="row">
                <div class="col-sm-4">
                  <p><img src="assets/img/icon/cash.png" alt=""/> Cash on delivery <input type="radio"
                                                                                          name="payment_method" ngModel
                                                                                          required
                                                                                          value="cash on delivery"
                                                                                          checked/></p>
                  <p><img src="assets/img/icon/img.png" alt=""/> Credit card <input type="radio" name="payment_method"
                                                                                    required
                                                                                    ngModel value="credit card"/></p>
                  <button>Order NOW</button>
                </div>
                <div class="col-md-offset-2 col-sm-6">
                  <span>Card Holder Name</span>
                  <input type="text" placeholder="insert name" name="card_holder_name" required ngModel/>
                  <span>Card Number</span>
                  <input type="text" placeholder="***-****-****" name="card_number" required ngModel/>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <span>CVC</span>
                      <input type="text" placeholder="1234" name="cvc" required ngModel/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <span>Expire Date</span>
                      <input type="date" placeholder="12/08" name="expire_date" required ngModel/>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2  col-xs-12">
    <div class="right_sidebar">

      <div class="cetagory-menu text-center disabled">
        <ul>
          <input #myControl [value]="(currentEssential | async)" type="hidden"/>
          <input #myControlCart [value]="(cartItems | async)" type="hidden"/>
          <li *ngIf="(cartItems|async).length>0" ngClass="{{(!isInstant)?'active':''}}"><a href="javascript:void(0)"
                                                                                           (click)="(myControl.value && myControlCart.value)?isInstant=!isInstant :''">Cart</a>
          </li>
          <li *ngIf="(currentEssential|async)" ngClass="{{(isInstant)?'active':''}}"><a href="javascript:void(0)"
                                                                                        (click)="(myControl.value && myControlCart.value)?isInstant= !isInstant:''">Instant
          </a></li>
        </ul>
      </div>
      <div class="cart-sidebar row bg-fff " *ngIf="!isInstant && (cartItems|async).length>0">
        <h3>ITEMS IN YOUR CART <span>{{(cartItems| async).length}}</span></h3>
        <ul class="total">
          <li>Subtotal <span>{{(cartItems | async)|subtotalSum}} OMR</span></li>
          <li>Delivery <span>0.00 OMR</span></li>
          <li>Discount <span>-0.00 OMR</span></li>
          <li>Grand Total <span>{{(cartItems | async)|subtotalSum}} OMR</span></li>
        </ul>
        <ul class="cart fix">
          <li class="pull-right"><a routerLink="/home">Continue Shopping</a></li>
        </ul>
      </div>
      <div class="cart-sidebar row bg-fff" *ngIf="isInstant && (currentEssential|async) !=null">

        <ul class="bl-quick-order bg-fff ">
          <li>
            <h3>Quick Order</h3>
            <h4>{{(currentEssential|async).name}}</h4>

            <label>
              <span>Brand</span>
              <input name="price" value="{{(currentEssential|async).brand}}" readonly/>

            </label>
            <label>
              <span>Type</span>
              <input name="price" value="{{(currentEssential|async).type}}" readonly/>
            </label>

            <label>
              <span>grade</span>
              <input name="price" value="{{(currentEssential|async).grade}}" readonly/>
            </label>
            <label>
              <span>Package</span>
              <input name="price" value="{{(currentEssential|async).package}}" readonly/>

            </label>
            <label>
              <span>Quantity</span>
              <input name="price" value="{{(currentEssential|async).quantity}}" readonly/>
            </label>
            <hr>
            <label class="total">
              <span>Total</span>
              <input name="price" value="{{(currentEssential|async).total_price+ ' OMR'}}" readonly/>

            </label>

          </li>
        </ul>


      </div>

    </div>
  </div>
</div>

