

<!-- hero-area start -->
<div class="hero-area mb-30">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-9 col-xs-12">
				<div class="hero-wrap bg-fff">
					<div class="cetagory-menu text-center">
						<ul>
							<li class="active"><a  href="#essentials" data-toggle="tab">ESSENTIALS</a></li>
							<li><a href="#all" data-toggle="tab">All Categories</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="essentials">
							<div class="cetagory-items">
								<ul>
									<li  class="button-dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle">
											<img src="assets/img/cetagory/cement.png" alt="" class="first"/>
											<img src="assets/img/cetagory/cement-1.png" alt="" class="second"/>
											<p>CEMENT</p>
										</a>
										<ul class="quick-order dropdown-menu">
											<li>
												<h3>Quick Order</h3>
												<h4>Cement</h4>
												<form action="#">
													<label>
														<span>Price</span>
														<input type="text" placeholder="$500"/>
													</label>
													<label>
														<span>Brand</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Type</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Quantity</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>grade</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Pakage</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label class="total">
														<span>Total</span>
														<strong class="pull-right">289.00</strong>
													</label>
													<button>Order</button>
												</form>
											</li>
										</ul>
									</li>
									<li class="button-dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle">
											<img src="assets/img/cetagory/steel.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/steel-1.png" alt=""  class="second"/>
											<p>STEEL</p>
										</a>
										<ul class="quick-order dropdown-menu">
											<li>
												<h3>Quick Order</h3>
												<h4>Stell</h4>
												<form action="#">
													<label>
														<span>Price</span>
														<input type="text" placeholder="$500"/>
													</label>
													<label>
														<span>Brand</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Type</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Quantity</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>grade</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Pakage</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label class="total">
														<span>Total</span>
														<strong class="pull-right">289.00</strong>
													</label>
													<button>Order</button>
												</form>
											</li>
										</ul>
									</li>
									<li class="button-dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle">
											<img src="assets/img/cetagory/sand.png" alt="" class="first"/>
											<img src="assets/img/cetagory/sand-1.png" alt="" class="second"/>
											<p>sand</p>
										</a>
										<ul class="quick-order dropdown-menu">
											<li>
												<h3>Quick Order</h3>
												<h4>Sand</h4>
												<form action="#">
													<label>
														<span>Price</span>
														<input type="text" placeholder="$500"/>
													</label>
													<label>
														<span>Brand</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Type</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Quantity</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>grade</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Pakage</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label class="total">
														<span>Total</span>
														<strong class="pull-right">289.00</strong>
													</label>
													<button>Order</button>
												</form>
											</li>
										</ul>
									</li>
									<li class="button-dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle">
											<img src="assets/img/cetagory/bricks-blocks.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/bricks-blocks-1.png" alt=""  class="second"/>
											<p>BLOCK</p>
										</a>
										<ul class="quick-order dropdown-menu">
											<li>
												<h3>Quick Order</h3>
												<h4>Block</h4>
												<form action="#">
													<label>
														<span>Price</span>
														<input type="text" placeholder="$500"/>
													</label>
													<label>
														<span>Brand</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Type</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Quantity</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>grade</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Pakage</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label class="total">
														<span>Total</span>
														<strong class="pull-right">289.00</strong>
													</label>
													<button>Order</button>
												</form>
											</li>
										</ul>
									</li>
									<li class="button-dropdown">
										<a href="javascript:void(0)" class="dropdown-toggle">
											<img src="assets/img/cetagory/readymix.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/readymix-1.png" alt="" class="second" />
											<p>READY MIX</p>
										</a>
										<ul class="quick-order dropdown-menu right">
											<li>
												<h3>Quick Order</h3>
												<h4>Ready Mix</h4>
												<form action="#">
													<label>
														<span>Price</span>
														<input type="text" placeholder="$500"/>
													</label>
													<label>
														<span>Brand</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Type</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Quantity</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>grade</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label>
														<span>Pakage</span>
														<select name="select" id="no">
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
															<option value="option">option</option>
														</select>
													</label>
													<label class="total">
														<span>Total</span>
														<strong class="pull-right">289.00</strong>
													</label>
													<button>Order</button>
												</form>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="tab-pane fade" id="all">
							<div class="cetagory-items">
								<ul>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/cement.png" alt="" class="first" />
											<img src="assets/img/cetagory/cement-1.png" alt=""  class="second"/>
											<p>CEMENT</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/steel.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/steel-1.png" alt="" class="second" />
											<p>STEEL</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/sand.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/sand-1.png" alt="" class="second" />
											<p>sand</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/bricks-blocks.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/bricks-blocks-1.png" alt="" class="second" />
											<p>BLOCK</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/readymix.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/readymix-1.png" alt="" class="second" />
											<p>READY MIX</p>
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/wood-lumber.png" alt=""  class="first"/>
											<img src="assets/img/cetagory/wood-lumber-1.png" alt="" class="second" />
											<p>LUMBER</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/adhesive.png" alt="" class="first" />
											<img src="assets/img/cetagory/adhesive-1.png" alt="" class="second" />
											<p>adhesive</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/elevators.png" alt="" class="first" />
											<img src="assets/img/cetagory/elevators-1.png" alt="" class="second" />
											<p>elevators</p>
										</a>
									</li>
									<li>
										<img src="assets/img/cetagory/electricals.png" alt="" class="first" />
										<img src="assets/img/cetagory/electricals-1.png" alt="" class="second" />
										<p>electricals</p>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/electronics.png" alt="" class="first" />
											<img src="assets/img/cetagory/electronics-1.png" alt="" class="second" />
											<p>electronics</p>
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/equipments-mechneries.png" alt="" class="first" />
											<img src="assets/img/cetagory/equipments-mechneries-1.png" alt="" class="second" />
											<p>equipments</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/glass-facades.png" alt="" class="first"  />
											<img src="assets/img/cetagory/glass-facades-1.png" alt="" class="second" />
											<p>facades</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/hardware.png" alt="" class="first"  />
											<img src="assets/img/cetagory/hardware-1.png" alt="" class="second" />
											<p>hardware</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/interior-fittings.png" alt="" class="first"  />
											<img src="assets/img/cetagory/interior-fittings-1.png" alt="" class="second" />
											<p>fittings</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/landscaping-gardening.png" alt="" class="first"  />
											<img src="assets/img/cetagory/landscaping-gardening-1.png" alt="" class="second" />
											<p>landscaping</p>
										</a>
									</li>
								</ul>
								<ul>

									<li>
										<a href="#">
											<img src="assets/img/cetagory/lighting.png" alt="" class="first"  />
											<img src="assets/img/cetagory/lighting-1.png" alt="" class="second" />
											<p>lighting</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/nuts-bolts.png" alt="" class="first"  />
											<img src="assets/img/cetagory/nuts-bolts-1.png" alt="" class="second" />
											<p>nuts bolts</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/office-supplies.png" alt="" class="first"  />
											<img src="assets/img/cetagory/office-supplies-1.png" alt="" class="second" />
											<p>supplies</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/packaging-handeling.png" alt=""  class="first" />
											<img src="assets/img/cetagory/packaging-handeling-1.png" alt=""  class="second"/>
											<p>packaging</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/palnt.png" alt="" class="first"  />
											<img src="assets/img/cetagory/palnt-1.png" alt="" class="second" />
											<p>palnt</p>
										</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/plumbing.png" alt="" class="first"  />
											<img src="assets/img/cetagory/plumbing-1.png" alt="" class="second" />
											<p>plumbing</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/poewr-tool.png" alt="" class="first"  />
											<img src="assets/img/cetagory/poewr-tool-1.png" alt="" class="second" />
											<p>poewr tool</p>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="assets/img/cetagory/security.png" alt="" class="first"  />
											<img src="assets/img/cetagory/security-1.png" alt="" class="second" />
											<p>security</p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- hero-area end -->

	<!-- product-area start -->
	<div class="product-area mb-30">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-9 col-xs-12">
                     <app-product-list [products]="newProducts" [productType]="'NEW PRODUCTS'"></app-product-list>
				</div>
			</div>
		</div>
	</div>
	<!-- product-area end -->

	<!-- banner-area start -->
	<div class="banner-area">
		<div class="container clear">
			<div class="row">
				<div class="col-md-offset-3 col-md-9 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="banner-items">
								<img src="assets/img/banner/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="banner-items">
								<img src="assets/img/banner/2.jpg" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner-area start -->

	<!-- product-area start -->
	<div class="product-area mb-30">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-9 col-xs-12">
				<app-product-list  [products]="popularProducts" [productType]="'POPULAR PRODUCTS'"></app-product-list>
				</div>
			</div>
		</div>
	</div>
	<!-- product-area end -->

	<!-- banner-area start -->
	<div class="banner-area">
		<div class="container clear">
			<div class="row">
				<div class="col-md-offset-3 col-md-9 col-xs-12">
					<div class="banner-items">
						<img src="assets/img/banner/3.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner-area start -->

	<!--&lt;!&ndash; product-area start &ndash;&gt;-->
	<!--<div class="product-area mb-15 arivel-area">-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-offset-3 col-md-9 col-xs-12">-->
					<!--<div class="product-wrap p-20 bg-fff">-->
						<!--<h2 class="section-title section-title2">New ARRIVAL</h2>-->
						<!--<div class="arrivel-active  next-perv-style">-->

              <!--<ngx-carousel-->
                                <!--[inputs]="carouselTile"-->
                                <!--[inputsLength]="carouselTileItems.length"-->
                               <!--&gt;-->

                                      <!--<ngx-tile *ngFor="let Tile of carouselTileItems">-->

                                        <!--<div class="product">-->
                                       								<!--<div class="product-item clear mb-75">-->
                                       									<!--<div class="product-img">-->
                                       										<!--<img src="assets/img/product/arivel/1.png" alt="" />-->
                                       									<!--</div>-->
                                       									<!--<div class="product-content">-->
                                       										<!--<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>-->
                                       										<!--<span>$90.00 </span>-->
                                       										<!--<div class="rating">-->
                                       											<!--<ul>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star-o"></i></li>-->
                                       											<!--</ul>-->
                                       										<!--</div>-->
                                       										<!--<a routerLink="/cart" class="cart">Add to cart</a>-->
                                       									<!--</div>-->
                                       								<!--</div>-->
                                       								<!--<div class="product-item clear">-->
                                       									<!--<div class="product-img">-->
                                       										<!--<img src="assets/img/product/arivel/2.png" alt="" />-->
                                       									<!--</div>-->
                                       									<!--<div class="product-content">-->
                                       										<!--<h3><a routerLink="/productdetails">Lorem ipsum dolor</a></h3>-->
                                       										<!--<span>$90.00 </span>-->
                                       										<!--<div class="rating">-->
                                       											<!--<ul>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star"></i></li>-->
                                       												<!--<li><i class="fa fa-star-o"></i></li>-->
                                       											<!--</ul>-->
                                       										<!--</div>-->
                                       										<!--<a routerLink="/cart" class="cart">Add to cart</a>-->
                                       									<!--</div>-->
                                       								<!--</div>-->
                                       							<!--</div>-->

                                      <!--</ngx-tile>-->

                                  <!--<button class='leftRs'><</button>-->
                                  <!--<button class='rightRs'>></button>-->
                              <!--</ngx-carousel>-->

						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash; product-area end &ndash;&gt;-->

