<!-- .footer-cetagory area start -->
<div class="root">

  <div class="footer-cetagory-area">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
          <div class="footer-cetagory">
            <div class="cetagory-details text-center cetagory-details1" (mouseenter)="cat=1" (mouseleave)="cat=0"
                 [hidden]="cat!=1">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <ul class="clear contact-wrapper">
                <li>
                  <a href="#"><i class="fa fa-envelope"></i> Email</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-phone"></i> Call</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-commenting-o"></i> Live Chat</a>
                </li>
              </ul>
            </div>

            <div class="cetagory-details text-center cetagory-details2" (mouseenter)="cat=2" (mouseleave)="cat=0"
                 [hidden]="cat!=2" [@fadeDownAnimation]>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <a href="#"><img src="assets/img/peyment/1.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/2.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/3.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/4.png" alt=""/></a>
            </div>
            <div class="cetagory-details text-center cetagory-details3" (mouseenter)="cat=3" (mouseleave)="cat=0"
                 [hidden]="cat!=3" [@fadeDownAnimation]>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <input type="email" placeholder="Email"/>
              <button>Trak Order</button>
            </div>
            <div class="cetagory-details text-center cetagory-details4" (mouseenter)="cat=4" (mouseleave)="cat=0"
                 [hidden]="cat!=4" [@fadeDownAnimation]>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <input type="email" placeholder="Email"/>
              <button>Sign Up</button>
            </div>
            <div class="cetagory-details text-center cetagory-details5" (mouseenter)="cat=5" (mouseleave)="cat=0"
                 [hidden]="cat!=5" [@fadeDownAnimation]>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <a href="#"><img src="assets/img/peyment/1.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/2.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/3.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/4.png" alt=""/></a>
            </div>
            <div class="cetagory-details text-center cetagory-details6" (mouseenter)="cat=6" (mouseleave)="cat=0"
                 [hidden]="cat!=6" [@fadeDownAnimation]>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <input type="email" placeholder="Email"/>
              <button>Sign Up</button>
            </div>
            <div class="cetagory-details text-center cetagory-details7" (mouseenter)="cat=7" (mouseleave)="cat=0"
                 [hidden]="cat!=7" [@fadeDownAnimation]>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.</p>
              <h3>Lorem Ipsum is simply dummy</h3>
              <span>Lorem Ipsum has been the industry</span>
              <a href="#"><img src="assets/img/peyment/1.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/2.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/3.png" alt=""/></a>
              <a href="#"><img src="assets/img/peyment/4.png" alt=""/></a>
            </div>


            <ul class="clear">
              <li (mouseenter)="cat=1" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/customer-service.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/customer-service-1.png" alt="" class="second"/>
                <p>Customer Support</p>

              </li>
              <li (mouseenter)="cat=2" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/catalog.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/catalog-1.png" alt="" class="second"/>
                <p>Large Selection</p>

              </li>
              <li (mouseenter)="cat=3" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/delivery.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/delivery-1.png" alt="" class="second"/>
                <p>24Hrs Delivery</p>

              </li>
              <li (mouseenter)="cat=4" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/credit.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/credit-1.png" alt="" class="second"/>
                <p>Credit Facility</p>

              </li>
              <li (mouseenter)="cat=5" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/nationwide.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/nationwide-1.png" alt="" class="second"/>
                <p>Nationwide</p>

              </li>
              <li (mouseenter)="cat=6" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/loyality.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/loyality-1.png" alt="" class="second"/>
                <p>Loyality Programm</p>

              </li>
              <li (mouseenter)="cat=7" (mouseleave)="cat=0">
                <img src="assets/img/cetagory/footer/payment.png" alt="" class="first"/>
                <img src="assets/img/cetagory/footer/payment-1.png" alt="" class="second"/>
                <p>Payment Option</p>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-cetagory area end -->

  <!-- footer-area start -->
  <footer class="footer-area">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="footer-widget">
                  <img src="assets/img/footer.png" alt=""/>
                  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out
                    there.</p>
                  <div class="location">
                    <ul>
                      <li><i class="fa fa-map-marker"></i>Dhaka</li>
                      <li><i class="fa fa-phone"></i>(000) 2345 - 6789</li>
                      <li><i class="fa fa-envelope"></i>hello@hiver.digital</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="footer-widget">
                  <h2 class="footer-title">Information </h2>
                  <div class="footer-menu">
                    <ul>
                      <li><a href="#">Our Story</a></li>
                      <li><a href="#">Privacy & Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#">Shipping & Delivery</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">FAQs</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="footer-widget">
                  <h2 class="footer-title">Our Social </h2>
                  <div class="footer-menu">
                    <ul>
                      <li><a href="#"><i class="fa fa-google-plus"></i> Google+</a></li>
                      <li><a href="#"><i class="fa fa-pinterest-p"></i> Pinterest</a></li>
                      <li><a href="#"><i class="fa fa-vimeo"></i> Vimeo</a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="footer-widget">
                  <h2 class="footer-title">Opening Time</h2>
                  <div class="contact">
                    <p><i class="fa fa-clock-o"></i> Monday - Friday: <br/> 08:30 am - 09:30 pm</p>
                  </div>
                  <h2 class="footer-title">Payment Option</h2>
                  <div class="payment">
                    <ul>
                      <li><a href="#"><img src="assets/img/payment.png" alt=""/></a></li>
                      <li><a href="#"><img src="assets/img/payment1.png" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer-bottom-menu ">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="copyright">
              <p>© 2017 Hiver.Digital | All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-area end -->


</div>
