<!-- product-area start -->
	<div class="product-area mt-170">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-7 col-xs-12">
					<div class="product-wrapper product-details-wrap">
						<h2>K 5 Premium 16033610</h2>
						<div class="product-details-items">
							<div class="thamb-active">
								<div class="product-details-thambnil">
									<a href="#one">
										<div class="thamb-img">
											<img src="assets/img/product-details/2.jpg" alt="" />
										</div>
									</a>
									<a href="#two">
										<div class="thamb-img">
											<img src="assets/img/product-details/2.jpg" alt="" />
										</div>
									</a>
									<a href="#three">
										<div class="thamb-img">
											<img src="assets/img/product-details/2.jpg" alt="" />
										</div>
									</a>
								</div>
								<div class="product-details-thambnil">
									<a href="#four">
										<div class="thamb-img">
											<img src="assets/img/product-details/2.jpg" alt="" />
										</div>
									</a>
									<a href="#two">
										<div class="thamb-img">
											<img src="assets/img/product-details/2.jpg" alt="" />
										</div>
									</a>
									<a href="#one">
										<div class="thamb-img">
											<img src="assets/img/product-details/2.jpg" alt="" />
										</div>
									</a>
								</div>
							</div>
							<div class="product-details-active">
								<div class="product-details-img" data-hash="one">
									<img src="assets/img/product-details/1.jpg" alt="" />
								</div>
								<div class="product-details-img" data-hash="two">
									<img src="assets/img/product-details/1.jpg" alt="" />
								</div>
								<div class="product-details-img" data-hash="three">
									<img src="assets/img/product-details/1.jpg" alt="" />
								</div>
								<div class="product-details-img" data-hash="four">
									<img src="assets/img/product-details/1.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="product-details-content">
							<h3>Brand : <a href="#">KATHERINE</a></h3>
							<span>Price : <strong>$ 390</strong></span>
							<p>Availability : <span>IN STOCK</span></p>
							<form action="#">
								<label>Delivery</label>
								<input type="text" placeholder="Enter your location"/>
								<button>check</button>
							</form>
							<div class="quanity">
								<form action="#">
									<p class="quantity cart-plus-minus">
										<label>Quantity</label>
										<input type="text" value="1" />
									</p>
								</form>
							</div>
							<div class="cart-btn">
								<ul>
									<li><a routerLink="/cart">Add to cart</a></li>
									<li><a routerLink="/cart"><i class="fa fa-heart"></i>Add to FAVORITE</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="product-details mb-15">
						<div class="product-details-menu">
							<ul>
								<li class="active"><a href="#features" data-toggle="tab">Features</a></li>
								<li><a href="#specification" data-toggle="tab">Specification</a></li>
								<li><a href="#warrenty" data-toggle="tab">Warrenty</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active" id="features">
								<div class="product-details-feature">
									<ul>
										<li><span class="left">Operating Pressure (PSI) </span><span>2000</span></li>
										<li><span class="left">Water Volume (GPM) </span><span>1.4</span> </li>
										<li><span class="left">Maximum water inlet Temp (°F) </span><span>104</span></li>
										<li><span class="left">Weight w/o accessories (lbs) </span><span>28.7</span></li>
										<li><span class="left">Dimensions (L x W x H) </span><span>16.46 x 16.77 x 34.33</span></li>
										<li><span class="left">Power supply (V) </span><span>120 / 60</span></li>
									</ul>
								</div>
							</div>
							<div class="tab-pane" id="specification">
								<div class="product-details-feature">
									<ul>
										<li><span class="left">Operating Pressure (PSI) </span><span>2000</span></li>
										<li><span class="left">Water Volume (GPM) </span><span>1.4</span> </li>
										<li><span class="left">Maximum water inlet Temp (°F) </span><span>104</span></li>
										<li><span class="left">Weight w/o accessories (lbs) </span><span>28.7</span></li>
										<li><span class="left">Dimensions (L x W x H) </span><span>16.46 x 16.77 x 34.33</span></li>
										<li><span class="left">Power supply (V) </span><span>120 / 60</span></li>
									</ul>
								</div>
							</div>
							<div class="tab-pane" id="warrenty">
								<div class="product-details-feature">
									<ul>
										<li><span class="left">Operating Pressure (PSI) </span><span>2000</span></li>
										<li><span class="left">Water Volume (GPM) </span><span>1.4</span> </li>
										<li><span class="left">Maximum water inlet Temp (°F) </span><span>104</span></li>
										<li><span class="left">Weight w/o accessories (lbs) </span><span>28.7</span></li>
										<li><span class="left">Dimensions (L x W x H) </span><span>16.46 x 16.77 x 34.33</span></li>
										<li><span class="left">Power supply (V) </span><span>120 / 60</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				<app-product-list [productType]="'YOU MAY ALSO LIKE'" [products]="alsoLikePrtoducts"></app-product-list>
				</div>
				<div class="col-md-3 right_sidebar col-xs-12">
					<h4 class="right_sidebar_title">Similar Products</h4>
					<div class="product-item">
						<div class="product-img2">
							<img src="assets/img/product/arivel/1.png" alt="">
						</div>
						<div class="product-content-right-sidebar">
							<h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
							<span>$90.00 </span>
							<div class="rating">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- product-area end -->
