<div class="row">
  <div class="col-md-10 col-xs-12">
    <div class="product-wrapper product-details-wrap">
      <h2>{{productDetails.name}}</h2>
      <div class="product-details-items">
        <div class="thamb-active">
          <div class="product-details-thambnil">
            <a>
              <div class="thamb-img " *ngFor="let im of productDetails.image_list" (click)="currentImg=im">
                <img src="{{im}}" alt=""/>
              </div>
            </a>

          </div>
        </div>
        <div class="product-details-active">
          <div class="product-details-img">
            <img src="{{currentImg}}" alt=""/>
          </div>


        </div>
      </div>
      <div class="product-details-content">
        <h3>Brand : <a>{{productDetails.brand_name}}</a></h3>
        <span>Price : <strong>$ {{productDetails.price}}</strong></span>
        <p>Availability : <span>IN STOCK</span></p>
        <form>
          <label>Delivery</label>
          <input type="text" placeholder="Enter your location"/>
          <button>check</button>
        </form>
        <div class="quanity">
          <div>
            <p class="quantity cart-plus-minus">
              <label>Quantity</label>
              <input type="number" value="1" [(ngModel)]="quantity"/>
            </p>
          </div>
        </div>
        <div class="cart-btn">
          <ul>
            <li><a (click)="addToCart(productDetails.id)">Add to cart</a></li>
            <li><a routerLink="/cart"><i class="fa fa-heart"></i>Add to FAVORITE</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-details mb-15">
      <div class="product-details-menu">
        <ul>
          <li ngClass="{{(currentTab=='f')?'active':''}}"><a (click)="currentTab='f'">Features</a></li>
          <li ngClass="{{(currentTab=='s')?'active':''}}"><a (click)="currentTab='s'">Specification</a>
          </li>
          <li ngClass="{{(currentTab=='w')?'active':''}}"><a (click)="currentTab='w'">Warrenty</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane" ngClass="{{(currentTab=='f')?'active':''}}" id="features">
          <div class="product-details-feature">
            <ul>
              <li><span class="left">Operating Pressure (PSI) </span><span>2000</span></li>
              <li><span class="left">Water Volume (GPM) </span><span>1.4</span></li>
              <li><span class="left">Maximum water inlet Temp (°F) </span><span>104</span></li>
              <li><span class="left">Weight w/o accessories (lbs) </span><span>28.7</span></li>
              <li><span class="left">Dimensions (L x W x H) </span><span>16.46 x 16.77 x 34.33</span></li>
              <li><span class="left">Power supply (V) </span><span>120 / 60</span></li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" ngClass="{{(currentTab=='s')?'active':''}}" id="specification">
          <div class="product-details-feature">
            <ul>
              <li><span class="left">Operating Pressure (PSI) </span><span>2000</span></li>
              <li><span class="left">Water Volume (GPM) </span><span>1.4</span></li>
              <li><span class="left">Maximum water inlet Temp (°F) </span><span>104</span></li>
              <li><span class="left">Weight w/o accessories (lbs) </span><span>28.7</span></li>
              <li><span class="left">Dimensions (L x W x H) </span><span>16.46 x 16.77 x 34.33</span></li>
              <li><span class="left">Power supply (V) </span><span>120 / 60</span></li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" ngClass="{{(currentTab=='w')?'active':''}}" id="warrenty">
          <div class="product-details-feature">
            <ul>
              <li><span class="left">Operating Pressure (PSI) </span><span>2000</span></li>
              <li><span class="left">Water Volume (GPM) </span><span>1.4</span></li>
              <li><span class="left">Maximum water inlet Temp (°F) </span><span>104</span></li>
              <li><span class="left">Weight w/o accessories (lbs) </span><span>28.7</span></li>
              <li><span class="left">Dimensions (L x W x H) </span><span>16.46 x 16.77 x 34.33</span></li>
              <li><span class="left">Power supply (V) </span><span>120 / 60</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-product-list [productType]="'YOU MAY ALSO LIKE'" [products]="alsoLikePrtoducts"></app-product-list>
  </div>
  <div class="col-md-2">

    <div class=" right_sidebar ">
      <h4 class="right_sidebar_title">Similar Products</h4>
      <div class="product-item" *ngFor="let op of [1,2,3]">
        <div class="product-img2">
          <img src="assets/img/product/arivel/1.png" alt="">
        </div>
        <div class="product-content-right-sidebar">
          <h5><a routerLink="/productdetails">Lorem ipsum dolor</a></h5>
          <span>$90.00 </span>
          <div class="rating">
            <ul>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>


</div>
