<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div class="overlay-bg overlay"></div>


<app-header></app-header>

<main class="container pdt-170" style="padding-top: 160px;">
  <div class="row">
    <div class="col-md-offset-2 col-md-10">

      <router-outlet></router-outlet>
    </div>


  </div>


</main>

<app-footer></app-footer>
